$font: "Montserrat", sans-serif;
$backgroundGrey: #444a4d;
$backgroundImagesColor: #c4c4c4;
$borderColorGrey: #c4c4c4;
$tabletResolution: 1024px;
$tabletResolutionModifiedMin: 768px;
$tabletResolutionModifiedMax: 833px;
$mobileResolution: 767px;
$minDesktopResolution: 1025px;
$mobileCenterGoods: calc(50% - 189px);
